<%= form_for(participante) do |f| %>
  <% if participante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participante.errors.count, "error") %> prohibited this participante from being saved:</h2>

      <ul>
      <% participante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <form class="form-control">
	
  <div class="row">
	  <div class="col-lg-8">
		  <div class="input-group">
		    <%= f.label :nome_completo %>
		    <%= f.text_field :nome_completo, class:"form-control" %>
		  </div>
	  </div>
  </div>

  <div class="row">
	  <div class="col-lg-8">
		  <div class="input-group">
		    <%= f.label :data_nascimento %><br/>
		    <%= f.date_select :data_nascimento, class:"form-control" %>
		  </div>
	  </div>
  </div>

  <div class="row">
	  <div class="col-lg-8">
		  <div class="input-group">
		    <%= f.label :cidade %>
		    <%= f.text_field :cidade , class:"form-control "%>
		  </div>
	  </div>
  </div>
  <div class="row">
	  <div class="col-lg-8">
		  <div class="input-group">
		    <%= f.label :estado %>
		    <%= f.text_field :estado, class:"form-control" %>
		  </div>
	  </div>
  </div>

  <div class="row">
	  <div class="col-lg-8">
		  <div class="input-group">
		    <%= f.label :rg %>
		    <%= f.text_field :rg , class:"form-control"%>
		  </div>
	  </div>
  </div>
  <div class="row">
	  <div class="col-lg-8">
		  <div class="input-group">
		    <%= f.label :cpf %>
		    <%= f.text_field :cpf, class:"form-control" %>
		  </div>
	  </div>
  </div>
  
  <br/>
  <div class="row">
	  <div class="col-lg-8">
		  <div class="input-group">
		    <%= f.submit(class:"btn btn-success") %>
		  </div>
	  </div>
  </div>
<% end %>

</form>
