<p id="notice"><%= notice %></p>

<h1>Participantes</h1>

<div class="row">
	<table class="table">
	  <thead>
	    <tr>
	      <th>Nome completo</th>
	      <th>Data nascimento</th>
	      <th>Cidade</th>
	      <th>Estado</th>
	      <th>Rg</th>
	      <th>Cpf</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @participantes.each do |participante| %>
	      <tr>
		<td><%= link_to participante.nome_completo, participante %></td>
		<td><%= participante.data_nascimento %></td>
		<td><%= participante.cidade %></td>
		<td><%= participante.estado %></td>
		<td><%= participante.rg %></td>
		<td><%= participante.cpf %></td>
		<td><%= link_to 'Editar', edit_participante_path(participante), class:"btn btn-info" %></td>
		<td><%= link_to 'Deletar', participante, method: :delete, data: { confirm: 'Deseja excluir o participante?' }, class:"btn btn-danger" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<br>

<%= link_to 'Novo Participante',new_participante_path,  class:"btn btn-primary" %>
