<p id="notice"><%= notice %></p>

<p>
  <strong>Nome completo:</strong>
  <%= @participante.nome_completo %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @participante.data_nascimento %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @participante.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @participante.estado %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @participante.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @participante.cpf %>
</p>

<%= link_to 'Edit', edit_participante_path(@participante) %> |
<%= link_to 'Back', participantes_path %>
